import { Button } from "svelte-element";

export default function _() {
    <div>
        <Button type="primary" icon="edit"></Button>
        <Button type="primary" icon="share"></Button>
        <Button type="primary" icon="delete"></Button>
        <Button type="primary" icon="search">Search</Button>
        <Button type="primary">Upload <i class="el-icon-upload el-icon-right"></i></Button>
    </div>
}