import { Button } from "svelte-element";

export default function _() {
    <div>
        <Button>Default Button</Button>
        <Button type="primary">Primary Button</Button>
        <Button type="text">Text Button</Button>
    </div>
}