import { Checkbox } from "svelte-element";

export default function _() {
    let checked = true;
    <Checkbox checked={checked} onChange={event => checked = event.target.checked}>Option</Checkbox>;
}