import { Checkbox } from "svelte-element";

export default function _() {
    <div>
        <Checkbox disabled>Option 1</Checkbox>
        <Checkbox checked disabled>Option 2</Checkbox>
    </div>
}