import { Row, Col } from "svelte-element";

export default function _() {

  <div class="demo-layout">
    <Row gutter={20}>
      <Col span={6}><div class="grid-content bg-purple"></div></Col>
      <Col span={6}><div class="grid-content bg-purple"></div></Col>
      <Col span={6}><div class="grid-content bg-purple"></div></Col>
      <Col span={6}><div class="grid-content bg-purple"></div></Col>
    </Row>
  </div>
}