import { Radio } from "svelte-element";

export default function _() {

    <div>
        <Radio value="a" disabled>Option A</Radio>
        <Radio value="b" disabled checked>Option B</Radio>
    </div>;
}